<a href="https://colab.research.google.com/github/blanc9211/Coursera_Assignment/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

## Author:
Sahil Patel

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- Some of the popular languages that Data Scientists use are.
- Some of the commonly used libraries used by Data Scientists include
- List of Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. matplotlib
3. sckit-learn
4. tensorflow

| Data Science Tools          |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Apache Zeppelin             |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [7]:
# This a simple arithmetic expression to mutiply then add integers
5+12

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335